@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



.navbar {
  min-height: 40px;
}

.navbar-nav > li{
  padding-left:80px;
  padding-right:3px;
  font-family: 'Oswald', sans-serif;
}
.navbar .logo img{
  height:40px;
  width:100px;
}

.header-title h2{
font-size:40px;}

.footer #oads{
padding:50px 0px 0px 250px;
}

.footer #sintro{
padding:0px 0px 0px 80px;
}

.footer #sintro h3{
color:white;
}
/**pop-up css**/
#upbox{
  background: rgba(0, 0, 0, 0.6);
  width:200px;
  height:180px;
  position:absolute;
  margin-top:110px;
  margin-left:20px;
  font-size:7px;

  display: none;
  justify-content:center;
  align-items: center;
  text-align:center;
}
#upbox .pop-content{
  height:250px;
  width:500px;
  padding:20px;
  border-radius: 5px;
  position: relative;
}
#upbox .close{

  top:-15px;
  left:-5px;
  background: #fff;
  height:10px;
  width:10px;
  border-radius:50%;
  box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.75);
  cursor: pointer
}


/*-----Animated Marquee css begins-----*/

.box{
 display:flex;
}
.inner{
 width:450px;
 height:80px;
 line-height:80px;
 font-size:3em;
 font-weight:800;
 white-space:nowrap;
 overflow:hidden;
 box-shadow:4px 6px 8px rgba(0,0,0,0.5);
}
.inner:first-child{
 background:indianred;
 color:#f1f1f1f1;
 transform-origin:right;
 transform:perspective(100px)rotateY(-15deg);
}
.inner:last-child{
 background:lightcoral;
 color:#ff0;
 transform-origin:left;
 transform:perspective(100px)rotateY(15deg);
}
.inner span{
 position:absolute;
 animation:marquee 4s linear infinite;
}
.inner:first-child span{
 animation-delay:2.5s;
 left:-100%;
}
@keyframes marquee{
 from{
  left:100%;
 }
 to{
  left:-100%;
 }
}

/*-----Animated Marquee css ends-----*/

#main-header {
  width: 1125px;

}
/*----Loan CSS Begins-----*/
.jumbotron p{
  font-family: 'Cormorant Garamond', serif;
  font-size:20px;
}
.jumbotron .ml{
  font-family: 'Anton', sans-serif;
}
.jumbotron .heading{
  font-family: 'Bebas Neue', cursive;
  font-size:50px;
  padding-bottom: 20px;
}
/*-----Loan CSS ends-----*/
/*-----Bond paper CSS starts-----*/
.bp{
  font-family: 'Bebas Neue', cursive;
  font-size:80px;

}
.mal p{
  font-family: 'Cormorant Garamond', serif;
  font-size:20px;
}
.mal .btn{
  margin-left:80px;
}




/*-----Bond paper CSS ends-----*/
/*-----Pay CSS Starts-----*/
#pay .card img{
  border: 3px solid black;
  height:350px;
  }
  #pay .card #img1{
    height:180px;
    border-bottom:3px solid white;

  }
  #pay .card #img2{
    height:180px;
    border-top:3px solid white;

  }
#pay .card p{
  font-family: 'Cormorant Garamond', serif;
  font-size:25px;
}
#pay .card li{
  list-style: disc;
  font-size:18px;
  padding-top: 20px;

}
#pay .card h5{
  font-family: 'Bebas Neue', cursive;
  font-size:40px;
  color:red;
}
#pay .card .vid video {
margin-left: 300px;
}





/*-----Pay CSS ends-----*/


/**Header and footer **/


#box{
margin-top:25px;
}
#box1{
height:70px;
}
#box2 h3{
color:white;
font-family: 'Oswald', sans-serif;
}

.bg-black{
background-color:black;}

#main-header img{
width:100%;
height:310px;


}
#main-header a{
  padding-top: -30px;
  postion: center;
}
#main-header #button{
    margin-left:5px;

}
.font-div{
width:30%;
}
#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media only screen and(min-width: 1198px)
{
        .font-div{
                padding: 50px 0px!important;
        }
}


.container .p{
float:left;}

.container .d{
float:right;}
.ourservices{
padding: 10px 0px 10px;
height:500px;
}
.ourservices h1{
font-weight:bold;
}

.description em {
  color: red;
}
.rowsetting{
margin:80px 0px;
}
.fa-calendar-day {
margin-top:20px;
}
.fa-luggage-cart {
margin-top:20px;
}
.fa-people-carry{
margin-top:20px;
}



.rowsetting h2{
margin-top:20px;
font-weight:bold;
font-size:30px;
}

.rowsetting p{
padding:10px;
color: #6c757d !important;
}



/**media queery---for responsive**/

@media(min-width:992px) {

	.box{
	 display:flex;
	}
	.inner{
	 width:500px;
	 height:150px;
	 line-height:150px;
	 font-size:6em;
	 font-weight:800;
	 white-space:nowrap;
	 overflow:hidden;
	 box-shadow:4px 6px 8px rgba(0,0,0,0.5);
	}
	.inner:first-child{
	 background:indianred;
	 color:#f1f1f1f1;
	 transform-origin:right;
	 transform:perspective(100px)rotateY(-15deg);
	}
	.inner:last-child{
	 background:lightcoral;
	 color:#ff0;
	 transform-origin:left;
	 transform:perspective(100px)rotateY(15deg);
	}
	.inner span{
	 position:absolute;
	 animation:marquee 6s linear infinite;
	}
	.inner:first-child span{
	 animation-delay:3.5s;
	 left:-100%;
	}
	@keyframes marquee{
	 from{
	  left:100%;
	 }
	 to{
	  left:-100%;
	 }
	}
  #pay #mb{
    display:none;
  }

}
@media(max-width:991px)
{
  /*-----Pay CSS Starts-----*/
  #pay #pc{
    display:none;
  }
  #pay .card img{
    border: 3px solid blue;
    height:600px;
    }
    #pay .card #img1{
      height:180px;
      border-bottom:3px solid white;

    }
    #pay .card #img2{
      height:180px;
      border-top:3px solid white;

    }
  #pay .card p{
    font-family: 'Cormorant Garamond', serif;
    font-size:30px;
  }
  #pay .card li{
    list-style: disc;
    font-size:18px;
    padding-top: 20px;

  }
  #pay .card h5{
    font-family: 'Bebas Neue', cursive;
    font-size:40px;
    color:red;
  }
  #pay .card .vid video {
  margin-left: 130px;
  }





  /*-----Pay CSS ends-----*/





  .navbar {
      min-height:90px;
  }
  .navbar .logo img{
    height:80px;
    width:300px;
  }
  .navbar .navbar-toggler{
    height:70px;
  }
  .navbar .navbar-nav{
    height:350px;
  }
  .navbar .navbar-nav li{
  font-size:30px;
  padding-top:30px;

  }




  .port-item {
    height:110px;
  }
  #main-header {
    width: 600px;

  }
  #home, #home1 , #pay , #contact {
    width:585px;
  }
  .footer{
    width:585px;
}

	#home .ourservices{
			 padding: 20px 0px 10px;
		 height:1030px;
			 }
	 #home .rowsetting .al1{
   padding-top:30px;}

	 #home .rowsetting h2{
		margin-top:5px;
		 font-weight:bold;
		font-size:20px;
		}
		#home .rowsetting{
		margin:50px 0px;
		}
    .mal p{
      font-size:30px;
    }
    .mal .btn{
      margin-left:200px;
    }
  #main-header #button{
      margin-left:190px;

  }









     .footer #sintro h3{
      font-size:40px;
      }
     .footer #sintro p{
        font-size:18px;
        }
       .footer #sintro .nam{
          font-size:25px;
          }
           .footer #sintro {
            padding:50px 0px 0px 70px;
            }

       .footer #oads h4{
            font-size:25px;
            }
             .footer #oads p{
              font-size:18px;
              }


     .footer #oads{
        padding:50px 0px 0px 70px;
           }
   .footer .copyright p{
      font-size: 18px;

    }
   .footer .copyright{
      padding:20px 50px 0px 20px;
    }

}
