<!DOCTYPE html>
<html>
<head>
<title> Pension Plans</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="swiper.min.css">
<link rel="stylesheet" type="text/css" href="style1.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<!-- Navbar-->
  <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
   <div class="container">
      <a href="" class="navbar-brand text-warning font-weight-bold">
         NSLIC </a>

       <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
       data-target="#collapsenavbar">
       <span class="navbar-toggler-icon"> </span>
        </button>
     <div class="collapse navbar-collapse text-center" id="collapsenavbar">

     <ul class="navbar-nav ml-auto ">
               <li class="nav-item"><a class="nav-link text-dark" href="" >HOME</a></li>
               <li class="nav-item dropdown"><a class="nav-link dropdown-taggle text-dark"
                href="" id="navbardrop" data-toggle="dropdown">PLANS</a>
                <div class="dropdown-menu bg-dark">
                <a class="dropdown-item text-warning" href=plans/endplans.html>Endowment Plans</a>
                <a class="dropdown-item text-warning" href="#">Money Back Plans</a>
                <a class="dropdown-item text-warning" href="#">Term Plans</a>
                <a class="dropdown-item text-warning" href="#">Pension Plans</a>
                <a class="dropdown-item text-warning" href="#">Health Plans</a>
                <a class="dropdown-item text-warning" href="#">Child Plans</a>
</div>


</li>
               <li class="nav-item"><a class="nav-link text-dark" href=../Login/index.html >LOGIN PORTAL</a></li>
               <li class="nav-item"><a class="nav-link text-dark" href=""> FAQ </a></li>
               <li class="nav-item"><a class="nav-link text-dark" href="">CONTACT US</a></li>
             </ul>
</div>
</div>
</nav>
<!-- Swiper Begins-->
<div class="swiper-container">
<div class="swiper-wrapper">
<div class="swiper-slide">
<div class="imgBx">
 <a href=JA.html><img src="image/JS.png" height=350px width=350px></a>
</div>
<div class="details">
  <h5>JEEVAN SHANTI- 950</h5>
</div>
</div>
<div class="swiper-slide">
<div class="imgBx">
  <img src="image/PM.jpg" height=350px width=350px>
</div>
<div class="details">
     <h5>PM Vaya Vandana- 842</h5>
</div>
</div>










</div>
<div class="swiper-pagination"></div>
</div>



   <script type="text/javascript" src="swiper.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows : true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
  </script>

  <!-- Swiper ends-->
<br><br>
<section>
<div>

<b><font size=3 color=white style="font-family: 'Playfair Display', serif;">
  Pension plan helps you to accumulate a part of your savings over a long-term period so that you can have a secured financial future.
  It helps you to deal with the uncertainties post-retirement and ensures a steady flow of income after retirement.

  <br><br />

Savings get exhausted very fast and are sometimes used in emergencies, thus it is very important to choose the best pension scheme so
that you secure your cash flow for meeting basic daily needs post-retirement. So it is advisable to choose the best pension plan that can
act as a savior in your golden years<br /><br />
</font></b>
</div>
</section>
<br />
<!-- Footer-->
<div class="p-5 bg-info footer">
        <div class="container">
	       <div class="row">
		<div class="col-ms-6 " id="sintro">
			<h3><strong>Contact</strong></h3>
      <br />
		        <strong class="footertext">NSLIC</strong>
                        <p><strong>Narendra Kumar Singh<br>The Chairman Club Member <br>LIC India</strong></p>
		        <p><strong>MOBILE NO - 9931431069<br></p>

                        <p><strong>EMAIL  ID:-</strong><br>
			<a href="mailto:'nslic86@gmail.com'" >nslic86@gmail.com</a>
                        </p>
                   </div>

                   <div class="col-ms-6" id="oads">
                      <br>
                        <h4><strong>Aurangabad Branch Office</strong></h4>
                        <p>Chandel Niwas,Maharajganj Road<br>
                        Aurangabad</p>
                        <p>Contact-1800-33-4433</p>
                   </div>
</div>
<div class="copyright">
<div class="footer-bottom">
		<div class="container">
			<div class="col-xs-12 bg-dark text-white">
				<center><p>All Rights Reserved &#169; 2019  www.nslic.in</p></center>
			</div>
</div>
</div>



</div>
</div>

</body>
</html>
