{% load static %}

<html>
<title>{{ user.profile.pname }} </title>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/8083be25ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'Usercss/userstyle.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


</head>
<body>
  <nav class="navbar navbar-expand-md bg-light navbar-light fixed-top">
  <div class="container">
    <div class="logo">
          <a href="#"><img src="{% static 'Homeimage/logo.png' %}" alt="logo" /></a>
        </div>
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse"
      data-target="#collapsenavbar">
      <span class="navbar-toggler-icon"> </span>
       </button>
    <div class="collapse navbar-collapse text-center" id="collapsenavbar">

    <ul class="navbar-nav ml-auto ">
              <li class="nav-item"><a class="nav-link text-dark" href="/" >Home</a></li>

              {%if user.is_authenticated%}
              <li class="nav-item"><a class="nav-link  text-dark " href="">Hello, {{ user.profile.pname }} </a></li>
              <li class="nav-item"><a class="btn btn-outline-warning " href="Logout">Logout</a></li>
              {%else%}
              <li class="nav-item"><a class="btn btn-outline-warning " href="Login">Login</a></li>
              {%endif%}

            </ul>
 </div>
 </div>
 </nav>
  {%if user.is_authenticated%}

  <!-- Pop-up material ends -->


<br /><br />
<div class="container">
<header id="main-header">
<div class="container">
        <div class="row no-gutters " >
               <div class="col-lg-4 col-md-4 bg-info text-danger">
                <img src="{{ user.profile.ppic.url }}" >
                <a href="Pupload" class="btn btn-outline-danger" id="button">
                  Update profile picture</a>

                </div>
                <div class="col-lg-8 col-md-8">
                <div class="d-flex flex-column">
                <div class="p-5 bg-dark text-white">
                  <div class="row">
                     <div class="col-lg-9 col-md-12 col-sm-12 col-12 d-block m-auto">
                      <h1 align="center">{{ user.profile.pname }}</h1>
                 </div>
                     <div class="col-lg-2 col-md-12 col-sm-12 col-12 d-block m-auto text-center">

                    <a class="btn btn-warning" href="{{ user.profile.details.url }}" >Details</a>

                 </div>
                </div>
                </div>
                <div class="p-3 text-white bg-black">
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-6 d-block m-auto">
                   <h6> Next Premium Date-</h6>
                <h4>  {{user.profile.dop}} </h4>

              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-6 d-block ml-0">
                <h6> Next Premium Amount-</h6>
               <h4>  &#x20b9; {{user.profile.npamount}}.0 </h4>

          </div>


            </div>



               </div>

               <div class="d-flex flex-row text-center text-white align-items-start">

               <div class="port-item p-4 bg-success font-div" data-toggle="collapse" data-target="#home" >
               <i class="fa fa-file-text-o fa-2x d-block"></i> Details
                 </div>
              <div class="port-item p-4 bg-danger font-div" data-toggle="collapse" data-target="#home1" >
              <i class="fa fa-history fa-2x d-block"></i> Premium
                </div>
             <div class="port-item p-4 bg-Primary font-div" data-toggle="collapse" data-target="#pay" >
              <i class="fas fa-money-check-alt fa-2x d-block"></i> Pay
                </div>
            <div class="port-item p-4 bg-warning font-div" data-toggle="collapse" data-target="#contact">
              <i class="fas fa-sms fa-2x d-block"></i> Help
                </div>
          </div>
       </div>
   </div>
</div>
</header>

  <!-- Home -->
<div id="home" class="collapse show">
  <div class="p-5 text-white bg-success">
   <h1 align="center">{{user.profile.polnum}}</h1>
   <h4 align="center">D.O.B-{{user.profile.dob}}</h4>

 </div>
      {%if user.profile.revival == 0 %}
      <div class="card card-body py-5">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-6 d-block m-auto">
        <h3>   {{user.profile.pstatus}}  </h3>
        <h6>   Policy status</h6>
      </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-6 d-block m-auto">
        <h3>Premium Without Tax</h3>
        <h6>  &#x20b9; {{user.profile.npamountwt}}.0</h6>
      </div>
    </div>


        </div>
        {% else%}
        <div class="card card-body py-5 rev">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-4 d-block m-auto">
          <h3>  {{user.profile.pstatus}} </h3>
          <h6>   Policy status</h6>
        </div>
            <div class="col-lg-8 col-md-10 col-sm-10 col-10 d-block m-auto rev1">
        <p>
          Your policy have been lapsed due to non-payment of premium under Grace period. You wll need to revive it
          ,otherwise it will be closed automatically after sometimes and the money you deposited will be lost.
          Look into the revival quotation for the amount<font color="red">(GST not included)</font> that you need to revive the policy.
        </p>
        <a class="btn btn-outline-info" href="{{ user.profile.npreceipt.url }}" >Revival Quotation</a>
        </div>
      </div>

          </div>
        <hr>
        {%endif%}
        <hr />
  <!-- Animation from youtube start -->
<div class="box">
<div class="inner">
  <span>Better Present</span>
 </div>

 <div class="inner">
  <span>Secured Future</span>
 </div>
</div>
<hr />
<!-- Animation from youtube ends -->

<section class="container ourservices text-center">
<h1>Policy Term-{{user.profile.prempayterm}} years</h1>
<h6>Total years ,you will be secure under this policy</h6>
<div class="row rowsetting">
  <div class="col-lg-4 col-md-4 col-sm-10 col-10 d-block m-auto ">
  <div class="imgsetting d-block m-auto bg-info text-white"><i class="fas fa-calendar-day fa-3x"></i><h2>DATES</h2></div>

<h6>Date of commencement- {{user.profile.doc}}</h6>
<p class="description">Date when policy was opened</br></p>
<h6>Date of Maturity- {{user.profile.dom}}</h6>
<p class="description">Date when policy will complete</br></p>
</div>



<div class="col-lg-4 col-md-4 col-sm-10 col-10 d-block m-auto al1">
  <div class="imgsetting d-block m-auto bg-info text-white"><i class="fas fa-people-carry fa-3x"></i><h2>NOMINEE</h2></div>

<p>The person who will be beneficiary in your absence</p>

<h5>Name- {{user.profile.nname}}<br />
  Relation-{{user.profile.nrel}} <br />
  Shares- {{user.profile.nshare}}
  </h5>
  </div>

<div class="col-lg-4 col-md-4 col-sm-10 col-10 d-block m-auto al1">
  <div class="imgsetting d-block m-auto bg-info text-white"><i class="fas fa-luggage-cart fa-3x"></i><h2>PLAN</h2></div>
<h4>{{user.profile.plan}}</h4>

<p>Sum Assured- &#x20b9; {{user.profile.sum}}<br /><br />
  Mode- {{user.profile.mode}} <br />
  Type-{{user.profile.plantype}}
</p>
</div>



</div>
</section>
<div class="jumbotron">
  <div class="col-12 text-center">
    <h2 class="heading text-warning">LOAN </h2>

  </div>
  {% if user.profile.loanavl == 1 %}
  <div class="text-danger ml">

  <h4 >You Can get a maximum loan of &#x20b9;{{user.profile.maxloan}}.0 on this policy.</h4>
</div>

  <p>
    In case of ENDOWMENT type policy, Life Insurance Corporation of India (LIC) also provides secured personal loans using its life insurance policies
  as collateral.The essential condtion is that applicant should
  have paid at least 3 years of insurance premium in full.You can repay the loan with interest or continue paying the interest and allow
  the loan to be deducted at the time of the claim payments.<strong>Loan against insurance policy requires the borrower to submit the insurance policy with the lender as collateral. If the borrower is
  unable to pay back the loan, then the lender reserves the right to hold on to the policy till the debt is cleared by the borrower.</strong>
  you are required to visit the nearby LIC office and fill out the loan application forms along with applicable KYC documents and submit those along
  with the original policy document.Once the details of the application are verified, a loan amount of up to 90% of the surrender value of the policy
  is paid out. In case your policy is eligible for loan, then contact us, you will make all arrangements for you to get the loan.
</p>

{% else %}
<div class="text-danger ml">

<h4 >You can't get a loan under this policy as it is {{user.profile.plantype}} type policy and loan
  facility is only for Endowment type plans.</h4>
</div>
{% endif %}
</div>


<hr />
<div class="col-12 text-center bp">
  <h2 class="heading">Your Bond Paper</h2>

</div>
<hr />
<div class="row mal">
  <div class="col-lg-8 col-md-8 col-sm-12 col-12 d-block m-auto">
    <img src="{{ user.profile.bpic.url }}" height="600px" width="590px"/>
</div>
<div class="col-lg-4 col-md-4 col-sm-12 col-12 d-block m-auto">
<p>
   If it is not your bond paper then please update it here, otherwise ignore this text.
</p>
<a href="upload" class="btn btn-outline-info">
  Update Bond picture</a>
</div>

<hr />
</div>
<hr />
<hr />
<div class="col-12 text-center bp">
  <h2 class="heading">Aadar Card</h2>

</div>
<hr />
<div class="row ad">
  <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-block m-auto">
    <img src="{{ user.profile.adrfpic.url }}" height="300px" width="490px"/>
</div>
<div class="col-lg-6 col-md-12 col-sm-12 col-12 d-block m-auto tw">
  <img src="{{ user.profile.adrbic.url }}" height="300px" width="490px"/>
</div>

</div>

<div class="ad1" >
<p>
   If it is not your aadhar card then please update it here, otherwise ignore this text.
</p>
<a href="adrupload" class="btn btn-outline-info">
  Update Aadhar </a>
</div>

<hr />

<hr />
</div>

    <!-- Premium Paid -->
    <div id="home1" class="collapse">
      <div class="card card-body bg-danger text-white text-center py-5">
        <h2>Premium Paying Term- {{user.profile.prempayterm}} years</h2>

      </div>

      <div class="card card-body py-5">
        <h3>Installment Premium Amount</h3>
        <h5>&#x20b9; {{user.profile.npamount}}/- </h5>
        <br /><br />
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Total Premium Paid</h4>
              <p class="card-text">Total money that has been paid by you till today</p>
              <p class="p-2 mb-3 bg-dark text-white">
                Amount: &#x20b9; {{user.profile.ptotal}}.0
              </p>
              <p class="p-2 mb-3 bg-dark text-white">
              Late fee: &#x20b9; 0.0<br />

              </p>
              Pay premiums on time to avoid late fee
            </div>

          </div>

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Surrender Value</h4>
              <p class="card-text">Money which is payable to you when you decide to discontinue the policy</p>
              <p class="p-2 mb-3 bg-dark text-white">
                Amount: &#x20b9; {{user.profile.svalue}}.0
              <p >
                Surrender value is payable only after three full years premiums are paid to LIC
                Surrender of policy is not recommended.
              </p>
            </div>

          </div>

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Maturity Value</h4>
              <p class="card-text">Money that you will receive if you pay premiums regularly for full term</p>
              <p class="p-2 mb-3 bg-dark text-white">
                Bonus: &#x20b9; {{user.profile.mbonus}}.0
              </p>
              <p class="p-2 mb-3 bg-dark text-white">
               Total Amount: &#x20b9; {{user.profile.mvalue}}.0
              </p>
            </div>

          </div>
        </div>
        <br /><br />
        <div class="text-center" >
          <h5>Last year premium paid statement</h5>
        <a class="btn btn-outline-info" href="{{ user.profile.npreceipt.url }}" >Premium Paid Staement</a>

    </div>
      </div>
    </div>
    <!-- PAY ONLINE -->
    <div id="pay" class="collapse">
      <div class="card card-body bg-primary text-white py-5">
      <p class="lead">We will be using "licindia" website as third party for online payment. Follow these simple steps to pay your premium online easily.</p>
      </div>
      <div class="card card-body py-5" id="pc">
        <h3> &nbsp &nbsp &nbsp Follow These Steps</h3>

        <hr>
        <h5> &nbsp &nbsp &nbsp &nbsp &nbsp STEP: 1</h5>
        <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Go to <a class="link text-white bg-dark " href="https://ebiz.licindia.in/D2CPM/#DirectPay">Pay Online</a> page and select the type of payment you want to make.</p>
<br /><br />
        <img src="{% static 'Userimage/pay1.jpg' %}"><br /><br />
        <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp --> Let you want to pay your renewal, then select "Reanewal Premium / Revival"</p><br /><br />
          <img src="{% static 'Userimage/pay2.jpg' %}">
          <br /><br />
          <hr>
          <h5> &nbsp &nbsp &nbsp &nbsp &nbsp STEP: 2</h5>
          <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Click on Proceed.</p><br /><br />
          <img src="{% static 'Userimage/pay3.jpg' %}">
          <br /><br />
          <hr>
          <h5> &nbsp &nbsp &nbsp &nbsp &nbsp STEP: 3</h5>
          <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp You will be required to enter details such as policy number,
            your date of birth ,instalment premium (excluding taxes) and so on.Fill your detail's carefully, Look in your
            profile page of our website for all the details.Premium without tax is written seprately on profile page for this purpose only.</p><br /><br />
          <img src="{% static 'Userimage/pay4.jpg' %}">
          <br /><br />
          <hr />
          <h5> &nbsp &nbsp &nbsp &nbsp &nbsp STEP: 4</h5>
          <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp While entering the details, ensure that you have mentioned it correctly and timely or
            else session will expire and you will have to start the process all over again.After entering all details correctly, select 'I Agree', and click on submit.
              </p><br />
          <img src="{% static 'Userimage/pay6.jpg' %}">
          <br /><br />
          <hr />
          <h5> &nbsp &nbsp &nbsp &nbsp &nbsp STEP: 5</h5>
          <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Validate the details mentioned by you earlier.
             If you have more than one LIC policy for which you want to make payments, then you can enter the policy number and
             premium amount (excluding taxes) to the list by scrolling down. Click on proceed once done.
              </p><br />
          <img id="img1" src="{% static 'Userimage/pay7.png' %}">
          <img id="img2" src="{% static 'Userimage/pay8.jpg' %}">
          <br /><br />
          <h5> &nbsp &nbsp &nbsp &nbsp &nbsp STEP: 6</h5>
          <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp This step will show you the
            number of policies for which premium is being paid and total premium amount to be paid. Click on 'Pay Now' to make the payments.
              </p><br />
          <img src="{% static 'Userimage/pay9.jpg' %}">
          <br /><br />
          <hr />
          <h5> &nbsp &nbsp &nbsp &nbsp &nbsp STEP: 7</h5>
          <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp You will have three options to make payment:
            <ul>
              <li>Via Internet banking, e-wallets, credit cards, debit cards, American Express Cards,</li>
              <li>Standard Chartered Bank UPI like GooglePay, PhonePat etc</li>
              <li>Axis Pay UPI</li>
           </ul>
              </p><br />
          <img src="{% static 'Userimage/pay10.png' %}" class="bg-dark">

          <h3 align="center">
            Choose the option with which you wish to make the payment.
          </h3><br /><br />
          <hr />
          <h2 align="center">Summary of above steps</h2>
          <hr />
          <div class="vid">

          <video width="480" height="280" controls >
            <source src ="{% static 'Userimage/summary.mp4' %}"  type="video/mp4" />
          </video>


          </div>
          <br /><br />
          <hr />
          <h5> &nbsp &nbsp &nbsp &nbsp &nbsp STEP: 8</h5>
          <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp View these videos for most favourable payment methods:
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-block m-auto">
               <h6> Using Debit Card</h6>
               <video width="480" height="280" align="center" controls>
                 <source src ="{% static 'Userimage/debit.mp4' %}" type="video/mp4" />
               </video>
          </div>
              <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-block m-auto">
                <h6> Using PhonePay ,GooglePay etc</h6>
                <video width="480" height="280" align="center" controls>
                  <source src ="{% static 'Userimage/upi.mp4' %}" type="video/mp4" />
                </video>
          </div>

        </div>
              </p><br />
              <hr />
              <h5> &nbsp &nbsp &nbsp &nbsp &nbsp STEP: 9</h5>
              <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp After Successful payment from
                any method you will get a mail from LIC,open it and and dowload the receipt</p>
                <br />
            <img src="{% static 'Userimage/pay11.jpg' %}">
           <img src="{% static 'Userimage/pay12.jpg' %}">
              </p><br />
              <h5> &nbsp &nbsp &nbsp &nbsp &nbsp STEP: 10</h5>
              <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp After downloading you will get a receipt like below image. Please send
                 this to 9931431069 through whatsaap or mail the receipt to nslic86@gmail.com for our confirmation</p>
                <br />
            <img src="{% static 'Userimage/pay13.png' %}">
            </p><br />
<hr />
Congrats You Paid Your Premium
<hr />



       </div>
       <div class="card card-body py-5" id="mb">
         <h3> &nbsp &nbsp &nbsp Follow These Steps</h3>

         <hr>
         <h5>  STEP: 1</h5>
         <p>  Go to <a class="btn text-white bg-info " href="https://ebiz.licindia.in/D2CPM/#DirectPay">Pay Online</a> page and select the type of payment you want to make.</p>
       <br /><br />
         <img src="{% static 'Userimage/mb/mbpay1.jpg' %}"><br /><br />
         <p> Let you want to pay your renewal, then select "Renewal Premium"</p><br /><br />
           <img src="{% static 'Userimage/mb/mbpay2.jpg' %}">
           <br /><br />
           <hr>
           <h5>STEP: 2</h5>
           <p> Click on Proceed</p><br /><br />
           <img src="{% static 'Userimage/mb/mbpay3.jpg' %}">
           <br /><br />
           <hr>
           <h5> STEP: 3</h5>
           <p> You will be required to enter details such as policy number,
             your date of birth ,instalment premium (excluding taxes) and so on.Fill your detail's carefully, Look in your
             profile page of our website for all the details.Premium without tax is written seprately on profile page for this purpose only.After entering all details correctly, click on submit.</p><br /><br />
           <img src="{% static 'Userimage/mb/mbpay4.jpg' %}">
           <br /><br />
           <hr />
           <h5> STEP: 4</h5>
           <p>While entering the details, ensure that you have mentioned it correctly and timely or
             else session will expire and you will have to start the process all over again.Now select 'I Agree', and click on submit.
               </p><br />
           <img src="{% static 'Userimage/mb/mbpay5.jpg' %}">
           <br /><br />
           <hr />
           <h5> STEP: 5</h5>
           <p>Validate the details mentioned by you earlier. Click on proceed once done.
               </p><br />
           <img  src="{% static 'Userimage/mb/mbpay6.jpg' %}">
           <hr />
           <br /><br />
           <h5> STEP: 6</h5>
           <p>This step will show you the policy detail for which premium is being paid and total premium amount to be paid.
             Click on "Check and Pay" or "Pay Now" to make the payments.
               </p><br />
           <img src="{% static 'Userimage/mb/mbpay7.jpg' %}">
           <br /><br />
           <hr />
           <h5> STEP: 7</h5>
           <p>You will have three options to make payment:
             <ul>
               <li>Via Internet banking, e-wallets, credit cards, debit cards, American Express Cards,</li>
               <li>Standard Chartered Bank UPI like GooglePay, PhonePat etc</li>
               <li>Axis Pay UPI</li>
            </ul>
               </p><br />
           <img src="{% static 'Userimage/mb/mbpay8.jpg' %}" class="bg-dark">

           <h3 align="center">
             Choose the option with which you wish to make the payment.
           </h3><br /><br />
           <hr />

           <hr />
           <h2 align="center">Summary of above steps</h2>
           <hr />
           <div class="vid">

           <video width="280" height="399" controls >
             <source src ="{% static 'Userimage/mbsummary.mp4' %}"  type="video/mp4" />
           </video>


           </div>
           <br /><br />

           <hr />
           <h5> STEP: 8</h5>
           <p> Watch these videos for most favourable payment methods:
             <div class="row">
               <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-block m-auto">
                <h6> Using Debit Card</h6>
                <video width="420" height="399" align="center" controls>
                  <source src ="{% static 'Userimage/debit.mp4' %}" type="video/mp4" />

                </video>
           </div>
               <div class="col-lg-6 col-md-12 col-sm-12 col-12 d-block m-auto">
                 <h6> Using PhonePay ,GooglePay etc</h6>
                 <video width="420" height="399" align="center" controls>
                   <source src ="{% static 'Userimage/upi.mp4' %}" type="video/mp4" />
                 </video>
           </div>

         </div>
               </p><br />
               <hr />
               <h5> STEP: 9</h5>
               <p> After Successful payment from
                 any method you will get this page as confiramtion for Successful transaction</p>
                 <br />
             <img src="{% static 'Userimage/mb/mbpay9.jpg' %}">

               </p><br />
               <hr />
               <h5> STEP: 10</h5>
               <p> After this <a class="btn text-white bg-info " href="https://ebiz.licindia.in/D2CPM/#DirectPay">Click here</a>
                .You will get to below page. Select transaction status here.</p>
                 <br />
             <img src="{% static 'Userimage/mb/mbpay10.jpg' %}">
             </p><br />
             <hr />
             <h5> STEP: 11</h5>
             <p>You will be required to enter details such as policy number,
               Date of transaction(Today's Date) ,Type of transaction(Reanewal, revival etc) .Fill detail's correctly and then click on submit.
               After this you will  receipt of premium paid. Open it and download it.</p>
               <br />
           <img src="{% static 'Userimage/mb/mbpay11.jpg' %}">
           </p><br />
     <hr />


               <h5> STEP: 12</h5>
               <p>  After downloading you will get a receipt like below image. Please send
                  this to 9931431069 through whatsaap or mail the receipt to nslic86@gmail.com for our confirmation</p>
                 <br />
             <img src="{% static 'Userimage/mb/mbpay12.jpg' %}">
             </p><br />
       <hr />
       <h5 align="center">Congrats You Paid Your Premium</h5>
       <hr />



        </div>





    </div>

    <!-- CONTACT -->
      <div id="contact" class="collapse">
        <div class="card card-body bg-warning text-white py-5">
          <h2>Contact</h2>
          <strong class="footertext">NSLIC</strong>
                       <p><strong>Narendra Kumar Singh<br>The Chairman Club Member <br> Agent-LIC of India,</strong></p>
           <p><strong>MOBILE NO - 9931431069(WHATSAPP NUM.)<br></p>



        </div>

        <div class="card card-body py-5">
          <h1>Get In Touch</h1>
          <p>Didn't found the right details or want to ask something </p>
          <form>
            <div class="form-group">
              <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-danger text-white">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
                <input type="text" class="form-control bg-dark text-white" placeholder="Name">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-danger text-white">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
                <input type="number" class="form-control bg-dark text-white" placeholder="Policy Number">
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-lg">
                <div class="input-group-prepend">
                  <span class="input-group-text bg-danger text-white">
                    <i class="fas fa-pencil-alt"></i>
                  </span>
                </div>
                <textarea class="form-control bg-dark text-white" placeholder="Wrtie your message"></textarea>
              </div>
            </div>

            <input type="submit" value="Submit" class="btn btn-danger btn-block btn-lg">
          </form>
        </div>
      </div>






<div class="p-5 bg-info footer">
        <div class="container">
	       <div class="row">
		<div class="col-ms-6 " id="sintro">
			<h3><strong>CONTACT</strong></h3>
      <br />
		        <strong class="footertext nam">NSLIC</strong>
                        <p>Narendra Kumar Singh<br>The Chairman Club Member <br> Agent-LIC of India,</p>
		        <p>MOBILE NO - 9931431069(WHATSAPP NUM.)<br></p>

                        <p>EMAIL  ID:-<br>
			<a href="mailto:'nslic86@gmail.com'" >nslic86@gmail.com</a>
                        </p>
                   </div>

                   <div class="col-ms-6" id="oads">
                      <br>
                        <h4><strong>Aurangabad Branch Office</strong></h4>
                        <p>Chandel Niwas,Maharajganj Road<br>
                        Aurangabad Bihar-824101</p>
                        <p>Contact-1800-33-4433</p>
                   </div>
</div>
<div class="copyright">
<div class="footer-bottom">
		<div class="container">
			<div class="col-xs-12 bg-dark text-white">
				<center><p>All Rights Reserved &#169; 2019  www.nslic.in</p></center>
			</div>
</div>
</div>



</div>
</div>
</div>
</div>
{%else%}
<br />
<br />
<br />
<div  class="container">
  <div class="card card-body bg-white text-dark py-5">
    <h2>You are logged out, Please Log-in to See deatils </h2>

  </div>
</div>
  {%endif%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script>
      $('.port-item').click(function () {
        $('.collapse').collapse('hide');
      });

      $(document).on('click', '[data-toggle="lightbox"]', function (e) {
        e.preventDefault();
        $(this).ekkoLightbox();
      });
    </script>
    <script>
    document.getElementById("button").addEventListener("click", function(){
      document.querySelector(".popup").style.display = "flex";
    })

    document.querySelector(".close").addEventListener("click", function(){
      document.querySelector(".popup").style.display="none";
    })


    </script>
    <script>
    const hamburger= document.querySelector(".hamburger");
    const navLinks = document.querySelector(".nav-links");
    const links = document.querySelectorAll(".nav-links li");

    hamburger.addEventListener("click", () => {
      navLinks.classList.toggle("open");

      });
    </script>


</body>
</html>
